.main-button span:first-child {
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.main-button span:last-child {
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: translateY(225%) translateX(-50%);
}

.main-button:after {
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
}

.main-button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.main-button:hover span:last-child {
  transform: translateX(-50%) translateY(-60%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}