@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


.writing-mode-vertical {
    writing-mode: vertical-rl;
}

@layer utilities {
    .w-40vmin {
        width: 40vmin;
    }

    .h-56vmin {
        height: 56vmin;
    }

    .gap-4vmin {
        gap: 4vmin;
    }
}

.custom-rounded {
    border-radius: 50%;
}

.custom-font {
    font-family: 'Proza Libre', sans-serif;
}

.custom-gradient {
    background: linear-gradient(90deg, rgba(255, 117, 117, 1) 0%, rgba(251, 171, 126, 1) 100%);
    background-clip: text;
    color: transparent;
}

.custom-gradient-2 {
    background: linear-gradient(90deg, rgba(254, 160, 45, 1) 0%, rgba(255, 93, 93, 1) 100%);
    background-clip: text;
    color: transparent;
}

.universal-color {
    background-color: #F08000;
}