@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
}

@layer utilities {
    .w-40vmin {
        width: 40vmin;
    }

    .h-56vmin {
        height: 56vmin;
    }

    .gap-4vmin {
        gap: 4vmin;
    }
}

.custom-rounded {
    border-radius: 50%;
}

.custom-gradient {
    background: linear-gradient(90deg, rgba(255, 117, 117, 1) 0%, rgba(251, 171, 126, 1) 100%);
    background-clip: text;
    color: transparent;
}

.custom-gradient-2 {
    background: linear-gradient(90deg, rgba(254, 160, 45, 1) 0%, rgba(255, 93, 93, 1) 100%);
    background-clip: text;
    color: transparent;
}

.universal-color {
    background-color: #F08000;
}